html {
	font-family: 'Maven Pro', sans-serif;
}

body {
	background: #F6F6F6;

}

header {
	height: 100px;
	width: 100%;
	text-align: center;
}

.head {
	width: 100%;
	background: #F6F6F6;
	height: 100px;
	bottom: 2%;
	text-align: center;
	text-transform: uppercase;
}

.navi {
	list-style: none;
	font-weight: 700;
	padding-right: 60px;
	padding-top: 20px;
}

ul li {
	display: inline-block;
	padding: 5px;
	font-size: 140%;
	margin: 0 20px;
}

li:hover {
	text-decoration: underline;
}
.panorama{
	width: 100%;
	max-width:100%;
	

}
.mobi{
	display: none;
}

#scroller{
	right: 30px;
    position: fixed;    
   
    bottom: 30px;   
    
    background: transparent url(../images/arrow.png) no-repeat left top;  
    width: 100px;
    height: 100px;
    cursor: pointer;
    
    display:none;
}

#scroller:hover{
	right: 30px;
    position: fixed;    
    
    bottom: 30px;   
    
    background: transparent url(../images/arrow.png) no-repeat left top;  
    width: 100px;
    height: 100px;
    cursor: pointer;
   
    display:none;
    filter: blur(2px);
}

.main-picture{
	
	text-align: center;

}

.picture1{
	
	text-align: center;
	width: 60%;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: 30px;
	}

.description{
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-size: 200%;
}
.photos{
	text-align: center;
	width: 100%;
	
}


h1 {
	font-size: 200%;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.menu {
	font-weight: 700;
	font-size: 80%;
	text-align: center;
	bottom: 0;
}

